.App {
  text-align: center;
}

.btn {
  margin: 2px;
}

.divbtn {
  float:left;
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #ffefe1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: baseline;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
